Repository Github-Features/github-possibilities, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docs, @domain/core, test, frontend, migrations, dependencies, github, models

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

# Add 'repo' label to any root file changes
repo:
  - "*"

docs:
  - "**/*.md"

# Add '@domain/core' label to any change within the 'core' package
"@domain/core":
  - package/core/*
  - package/core/**/*

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - tests/**/*

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
  - jinja2/*
  - jinja2/**/*

migrations:
  - migrations/**/*

dependencies:
  - "package.json"

github:
  - .github/**/*

models:
  - models/*
  - models/**/*

change label colours
  .github/pr-badge.yml
Labels: github

more
  README.md
Labels: repo, docs

look at me - no hands!
  README.md
  jinja2/index.html
  tests/test.js
Labels: repo, docs, test, frontend

clean up
  README.md
Labels: repo, docs

changed
  README.md
  tests/test copy.js
Labels: repo, docs, test
